* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logoAlura {
    position: absolute;
    left: 4.27%;
    right: 87.2%;
    top: 25%;
    bottom: 25%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;
}

::placeholder { color: #0A3871;}
    .text-area:focus {
        outline: none;
    }

.mensagem {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08); 
    border-radius: 32px;
    color: #0A3871;
    
}

.mensagem:focus{
    outline: none;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}


