* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;    
}

body {
    background: #E5E5E5;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    color: red;
}

.cabecalho img{
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container-input{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input{
    width: 400px;
    height: 330px;
}

#textArea{
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: blue;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
}

#output{
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3%;
}

#output h2{
    text-align: center;
    font-size: 25px;
    color: blue;
}

#output span{
    font-size: 16px;
    text-align: center;
}

#output img{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-top: 4%;
}

.container-bnt button{
    border: 2px solid blue;
    border-radius: 10px;
    text-decoration: none;
    color: #017c76;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar{
    border: 2px solid blue;
    border-radius: 10px;
    text-decoration: none;
    color: #017c76;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-bnt button:hover{
    border: 2px solid #002b28;
    transition: 0.5s all;
 }
