* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;    
}

body {
    background: #E5E5E5;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    color: red;
}

.cabecalho img{
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container-input{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input{
    width: 400px;
    height: 330px;
}

#textArea{
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: blue;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
}

#output{
    border: 3px solid blue;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3%;
    max-height: 400px;
    text-align: center;
    max-height: 400px;
}

#output h2{    
    font-size: 25px;
    color: blue;
}

#output span{
    font-size: 16px;
    word-wrap: break-word;
    max-width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}


#output img{
    position: absolute;
    align-self: center;
    max-width:250px;
    max-height:250px;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.container-bnt button{
    border: 2px solid blue;
    border-radius: 10px;
    text-decoration: none;
    color: #017c76;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar{
    border: 2px solid blue;
    border-radius: 10px;
    text-decoration: none;
    color: #017c76;
    width: 150px;
    height: 50px;
    margin-bottom: 15%;
    margin-left: 30%;
    cursor: pointer;
}


.container-bnt button:hover{
    border: 2px solid #002b28;
    transition: 0.5s all;
 }

 .hide-image {
    opacity: 0;
    transition: opacity 0.5s ease;
 }